<%- include('partials/header'); -%>

<h1>About</h1>
<h3 style="text-align:left ;">Hey there!</h3>
<h4 style="text-align:left ;">My name is Sufiyan Malek and I am Currently learning Web Development I have created this website to keep my daily journal and I think this may also help you guys. I Hope this Website works well on all devices and help you to maintain your daily journal.</h4>

<%- include('partials/footer'); -%>